$middle-w-mx: 75rem;
$middle-p-mx: 1.5rem;
$middle-gap: 4rem;
$card-w-mn: 12.5rem;

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: currentcolor;
  text-decoration: none;
}

.middle {
  justify-content: center;
  max-width: 1800px;
  padding-top: 64px;
  padding-bottom: 100px;
  margin-inline: auto;
}

body {
  margin: 0;
  font-family: LabGrotesque, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

.img {
  display: block;
  max-width: 100%;
}

.lottie {
  display: block;
  width: 100%; /* 부모 요소에 맞춰 전체 너비로 설정 */
  height: auto; /* 비율을 유지하면서 높이 자동 조정 */
  cursor: pointer;
}

.container {
  padding: 2rem;
  margin-inline: auto;
  background-color: #15940c;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 0.875rem;
  font-weight: 900;
  line-height: 1.25rem;
  background-color: #f6f6eb;

  p {
    margin: 0;
  }
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 0;
    margin-bottom: 12px;
    font-size: 8rem;
    font-weight: 900;
    line-height: 1.05;
    text-align: center;
  }

  p {
    max-width: 800px;
    margin: 0;
    margin-bottom: 40px;
    font-size: 35px;
    line-height: 1.45;
    text-align: center;
  }
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* 각 로티의 최소 너비를 300px로 설정 */

  gap: 10px;
  justify-items: center;
  width: 100%;
  max-width: 1200px; /* 최대 너비를 1400px로 설정 */
  margin: 0 auto; /* 가운데 정렬을 위해 자동 마진 추가 */
  background-color: #00663d;
  border: 2px solid transparent;
  border-radius: 35px;
}

.navigation {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
  font-size: 25px;
  line-height: 1.25rem;
  color: #000;
  background-color: #f6f6eb;

  p {
    margin: 0;
  }

  &__menu-group {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    margin-block: 0;
    list-style: none;
    border: 0.125rem;
  }
}

.footer {
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-inline: 1.5rem;
  background-color: #f6f6eb;

  p {
    margin: 0;
    margin-bottom: 24px;
    color: #000;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 80px;
  }
}
