*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.5;
}

.container {
  max-width: 64rem;
  padding: 2rem;
  margin-inline: auto;
  background-color: #15940c;
}

.navigation {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  overflow: hidden;
  font-size: 25px;
  line-height: 1.25rem;
  color: #000;
  list-style-type: none;
  background-color: #f6f6eb;
}
.navigation p {
  margin: 0;
}