*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: LabGrotesque, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: currentcolor;
  text-decoration: none;
}

body {
  margin: 0;
  margin-inline: auto;
  font-size: 1.125rem;
  line-height: 1.5;
}

.img {
  display: block;
  max-width: 100%;
}

.container {
  padding: 2rem;
  margin-inline: auto;
  background-color: #15940c;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 0.875rem;
  font-weight: 900;
  line-height: 1.25rem;
  background-color: #f6f6eb;

  p {
    margin: 0;
  }
}

.navigation {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
  font-size: 25px;
  line-height: 1.25rem;
  color: #000;
  background-color: #f6f6eb;

  p {
    margin: 0;
  }

  &__menu-group {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    margin-block: 0;
    list-style: none;
    border: 0.125rem;
  }
}

.footer {
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-inline: 1.5rem;
  background-color: #f6f6eb;

  p {
    margin: 0;
    margin-bottom: 24px;
    color: #000;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 80px;
  }
}

.main {
  padding-top: 64px;
  padding-bottom: 100px;

  h1 {
    justify-content: center;
    max-width: 1800px;
    padding-top: 64px;
    padding-bottom: 100px;
    margin: 0;
    margin-inline: auto;
    margin-bottom: 12px;
    font-size: 8rem;
    font-weight: 900;
    line-height: 1.05;
    text-align: center;
  }
}

.card {
  &__name {
    font-size: 1.5rem;
  }

  &__middle {
    position: relative;
    inset: 0;
    width: auto;
    height: 600px;
    margin-right: 40px;
    object-fit: cover;
    border: 2px solid transparent;
    border-radius: 35px;
    transition: border-color 0.3s, opacity 0.3s;
  }

  &__middle1 {
    position: relative;
    inset: 0;
    width: auto;
    height: 600px;
    margin-left: 40px;
    object-fit: cover;
    border: 2px solid transparent;
    border-radius: 35px;
    transition: border-color 0.3s, opacity 0.3s;
  }
}

.categorylist {
  display: grid;
  grid-template-columns: 1fr; // 한 줄에 하나씩 카테고리가 올 수 있도록 1개의 동일한 크기의 열로 설정
  gap: 20px; // 카테고리 사이의 간격 설정
  max-width: 1200px;
  margin: 0 auto;
}

.category {
  display: flex;
  flex-direction: row; // 카테고리 내의 요소들을 가로로 정렬
  align-items: center; // 세로 방향으로 가운데 정렬
  padding-right: 15px;
  margin-bottom: 3rem;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 24px;

  p {
    margin: 0;
    margin-bottom: 24px;
  }

  h2 {
    margin: 0;
    margin-bottom: 6px;
    font-size: 42px;
  }

  h3 {
    margin: 0;
    margin-bottom: 55px;
    font-size: 35px;
  }
}
