*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: currentcolor;
  text-decoration: none;
}

body {
  margin: 0;
  margin-inline: auto;
  font-family: LabGrotesque, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

.img {
  display: block;
  max-width: 100%;
}

.container {
  padding: 2rem;
  margin-inline: auto;
  background-color: #15940c;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 0.875rem;
  font-weight: 900;
  line-height: 1.25rem;
  background-color: #f6f6eb;

  p {
    margin: 0;
  }
}

.navigation {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
  font-size: 25px;
  line-height: 1.25rem;
  color: #000;
  background-color: #f6f6eb;

  p {
    margin: 0;
  }

  &__menu-group {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    margin-block: 0;
    list-style: none;
    border: 0.125rem;
  }
}

.footer {
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-inline: 1.5rem;
  background-color: #f6f6eb;

  p {
    margin: 0;
    margin-bottom: 24px;
    color: #000;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 80px;
  }
}

.main {
}
